name: Generate Pacman Animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate Pacman Animation
        uses: Platane/snk@v3
        with:
          github_user_name: samhita2003
          outputs: dist/pacman.svg
          palette: "github-dark" # Optional: you can remove this line

      - name: Commit and Push Pacman Animation
        uses: EndBug/add-and-commit@v9
        with:
          author_name: github-actions
          author_email: github-actions@github.com
          message: "Generated Pacman animation"
          add: "dist/pacman.svg"
